@page "/"
@using DataModel;

<h1>Multi-column Autocomplete...!</h1>
<div id="ControlRegion">
    <div class="control-section col-lg-12">
        <div id="remote-data" class="col-lg-6">
            <div class="content">
                <SfAutoComplete TValue="string" TItem="Product" PopupWidth="700px" DataSource="@_productsList" PopupHeight="400px" CssClass="e-multi-column" Placeholder="Select a Product">
                    <AutoCompleteTemplates TItem="Product">
                        <HeaderTemplate>
                            <table><tr><th class="e-text-center">Product ID</th><th width="240px">Product Name</th><th>Unit Price</th><th>Units In Stock</th><th>Units On Order</th></tr></table>
                        </HeaderTemplate>
                        <ItemTemplate>
                            <table><tbody><tr><td class="e-text-center">@((context as Product).ProductID)</td><td width="240px">@((context as Product).ProductName)</td><td>@((context as Product).UnitPrice)</td><td>@((context as Product).UnitsInStock)</td><td>@((context as Product).UnitsOnOrder)</td></tr> </tbody></table>
                        </ItemTemplate>
                    </AutoCompleteTemplates>
                    <AutoCompleteFieldSettings Value="ProductName"></AutoCompleteFieldSettings>
                </SfAutoComplete>
            </div>
        </div>
    </div>
</div>
@code {
    private IEnumerable<Product> _productsList;

    protected override void OnInitialized()
    {
        _productsList = new Product().GetProducts();
    }
}